body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

#header-bg {
    background-image: url(../images/dog-7630252_1280.jpg);
    background-position: center;
    background-size: cover;
    height: 70vh;
    padding: 2rem 7rem;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 20rem;
    /* animation: change 20s infinite ease-in-out; */
}

/* @keyframes change{
    40%
    {
        background-image: url(../images/fetch-4957501_1280.jpg);
    }
   
} */

.logo {
    text-decoration: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30pt;
    font-weight: 15rem; 
}

#nav-links {
    padding-top: 3rem;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    /* background-color: rgba(248, 248, 248, 0.438);  */
    /* padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem; */
}
.nav img{
    width: 100px;
    padding-right: 2rem;
}


.nav-item {
    text-decoration: none;
    color:white;
    font-size: 20px;
}

.header-text {
    color: white;
    font-size: 25pt;
    margin-top: 12rem;
    margin-bottom: 6rem;
}

.view-btn {
    color: white;
    background-color: rgb(99, 45, 7);
    padding: 15px 35px;
    border: none
}

.view-btn:hover {
    background-color: saddlebrown;
}

.view-btnn {
    color: white;
    background-color:  rgb(99, 45, 7);
    padding: 15px 35px;
    border: none
}

.view-btnn:hover {
    background-color: saddlebrown;
}


.about {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    display: flex;
    gap: 4rem;
}

.about-text {
    padding-bottom: 7rem;
    padding-left: 4rem;
    /* padding-top: 1rem; */
    height: 25rem;
    width: 70%;
    font-size: 24px;
}

.about-text h2 {
font-size: 40pt;
color: rgb(99, 45, 7);
}

.about-text p {
font-size: 30px;
color: rgb(99, 45, 7);
}

.about-btn {
color: white;
background-color: rgb(99, 45, 7);
padding: 15px 35px;
border: none;
border-radius: 2rem;
}

.about-btn:hover {
    background-color:saddlebrown;
}

.about img {
    width: 120%;
    height: 90%;
}
.want {
    background-image: url(../images/fetch-4957501_1280.jpg);
    background-position: center;
    background-size: cover;
    height: 70vh;
    padding: 2rem 7rem;
}

.want-text {
    padding-top: 2rem;
}

.want-text h2 {
    font-size: 60px;
    color: white;
}

.want-text p {
    font-size: 25px;
    color: white;
}

.want-btn {
color: white;
background-color: rgba(10, 40, 177, 0.555);
padding: 15px 35px;
border: none;
border-radius: 2rem;
}

.want-btn:hover {
    background-color: rgb(15, 51, 209);
}